* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
}

@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=La+Belle+Aurore&family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=La+Belle+Aurore&family=Open+Sans:wght@700&display=swap");
.home {
  padding: 60px 0 0;
  // min-height: 100vh;
  // background-color: #088a08;
  // @media (max-width: 768px) {
  //   padding: 0 10px;
  // }
}

:root {
  --main-color: #088a08;
  --primary-color: #001e2b;
  --gray-color: #808080;
  --danger-color: #ee3131d1;
  --shadow: 0 5px 12px rgb(0 0 0 / 12%);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
.container {
  margin: auto;
  max-width: 1200px;
  @media (max-width: 768px) {
    width: 100% !important;
    padding: 0 15px;
  }
  @media (min-width: 769px) and (max-width: 992px) {
    width: 750px;
  }
  @media (min-width: 993px) and (max-width: 1200px) {
    width: 960px;
  }
  @media (min-width: 1201px) and (max-width: 1400px) {
    width: 1150px;
  }
  @media (min-width: 1400px) {
    width: 1340px;
  }
}

.bg-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/*Scroll bar nav*/
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--primary-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: auto;
  border-radius: 5px;
  background: var(--main-color);
}

#app {
  position: relative;
  min-height: calc(100vh - 60px);
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s ease-in-out;
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-indent: initial;
  border-spacing: 0px;
  thead {
    color: var(--main-color);
    font-weight: normal;
    font-size: 13px;
    tr {
      th {
        // border: 1px solid #333;
        padding-bottom: 20px;
      }
    }
  }
  tbody {
    text-align: center;
    font-size: 12px;
    position: relative;
    .index {
      color: inherit;
      font-size: 12px;
    }
    .item-image {
      padding: 2px;
      width: 60px;
      height: 60px;

      margin: auto;
      img {
        width: 60px;
        height: 60px;
        border-radius: 5px;
      }
    }
    .item-name {
      font-size: 13px;
      font-weight: bold;
    }
    .item-price {
      font-weight: bold;
      color: var(--main-color);
    }
    .action {
      padding: 0;
      margin: 0;
      width: fit-content;
      .prevwe,
      .add,
      .remove,
      .edit {
        padding: 0px 10px;
        font-weight: normal;
        font-size: 17px;
      }
      .remove {
        color: crimson;
      }
    }
  }
}

.bg-dark {
  background-color: #001e2b;
  color: #fff;
}
.nav-bg-dark {
  background-color: #001e2b;
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.26);
  color: #fff;
}
.nav-bg-light {
  background-color: #fff;
  color: var(--primary-color);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.footer-bg-dark {
  background-color: #062d3f;
}
.footer-bg-light {
  background-color: #eee;
}
.bg-dark-primary {
  background-color: #012a35;
  color: #fff;
}
.bg-light {
  background-color: #fff;
  color: var(--primary-color);
}
